{% extends 'base.html.twig' %}
{% block title %}Welcome Vue{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Lista kursów vue</h2>
                    <h4><a href="{{ path('vue_basic_homepage') }}">Welcome Vue Basic</a></h4>
                    <h4><a href="{{ path('vue_advanced_homepage') }}">Welcome Vue Advanced</a></h4>


                    <hr/>
                    <edu-counter></edu-counter>
                    <hr/>
                    <edu-counter init-value="5"></edu-counter>
                    <!-- <edu-slideshow></edu-slideshow> -->
                    <hr/>
                    <div id="app"></div>
                    <hr/>
                    
                    <example-component myprop="I can pass props!" index=4></example-component>
                    <hr/>
                    <heading-group heading="Welcome" subheading="Welcome Vue"></heading-group>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}