{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 24</h2>
                </div>
            </div>
        </div>
    </div>
    <edu-app></edu-app>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <pre>
                    <code>
// assets/js/edu-components/EduUserItem.vue
&lt;router-link :to="'/edu-user-details/' + user.id + '/edit'" class="btn btn-primary"&gt;
    &lt;i class="fa fa-pencil"&gt;&lt;/i&gt;
&lt;/router-link&gt;
                    </code>
                </pre>
                <h4>Zapis ES6</h4>
                <pre>
                    <code>
// assets/js/edu-components/EduUserItem.vue
&lt;router-link :to="`edu-user-details/${user.id}/edit`" class="btn btn-primary"&gt;
    &lt;i class="fa fa-pencil"&gt;&lt;/i&gt;
&lt;/router-link&gt;
                    </code>
                </pre>
                <h4>Dodanie name:</h4>
                <pre>
                    <code>
// assets/js/router/routes.js
{ path: "/edu-user-list", component: EduUserList, name: "userList" },
{ path: "/edu-user-details/:id", component: EduUserDetails, name: "userDetails", children: [
    { path: "edit", component: EduUserEdit, name: "userEdit" }
]}
                    </code>
                </pre>
                <pre>
                    <code>
// assets/js/edu-components/EduUserItem.vue
...
&lt;!-- &lt;router-link :to="'/edu-user-details/' + user.id" class="btn btn-primary"&gt; --&gt;
zmiana na:
&lt;router-link :to="{ name: 'userDetails', params: { id: user.id } }" class="btn btn-primary"&gt;
    &lt;i class="fa fa-search"&gt;&lt;/i&gt;
&lt;/router-link&gt;
...
&lt;!-- &lt;router-link :to="'/edu-user-details/' + user.id + '/edit'" class="btn btn-primary"&gt; --&gt;
zmiana na:
&lt;router-link :to="{ name: 'userEdit', params: { id: user.id } }" class="btn btn-primary"&gt;
    &lt;i class="fa fa-pencil"&gt;&lt;/i&gt;
&lt;/router-link&gt;
...
                    </code>
                </pre>
                <pre>
                    <code>
// assets/js/edu-components/EduUserEdit.vue
&lt;!-- &lt;button class="btn btn-primary" @click="$router.push({ path: '/edu-user-list' })"&gt;Powrót&lt;/button&gt; --&gt;
zmiana na:
&lt;button class="btn btn-primary" @click="$router.push({ name: 'userList' })"&gt;Powrót&lt;/button&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
