{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 47</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <edu-register-form></edu-register-form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <pre>
                    <code>
// assets/js/edu-components/EduRegisterForm.vue
&lt;template&gt;
    &lt;div&gt;
        &lt;form action="#"&gt;
            ....
        &lt;/form&gt;
        &lt;pre&gt;
            { { $v } }
        &lt;/pre&gt;
    &lt;/div&gt;
&lt;/template&gt;
&lt;script&gt;
    import { validationMixin } from "vuelidate";
    import { required, minLength, email } from "vuelidate/lib/validators";
    export default {
        name: "EduRegisterForm",
        mixins: [validationMixin],
        data() {
            return {
                name: "",
                email: "",
                country: "",
                terms: false
            };
        },
        validations: {
            name: {
                required,
                minLength: minLength(2)
            },
            email: {
                required,
                email
            },
            country: {
                required
            },
            terms: {
                required
            }
        }
    };
&lt;/script&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
