{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 32</h2>
                </div>
            </div>
        </div>
    </div>
    <edu-app></edu-app>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <pre>
                    <code>
// assets/js/router/router.js
...
const router = new VueRouter({ 
    routes,
    scrollBehavior(to, from, savedPosition) {
        //console.log(savedPosition);
        //return { selector: "#users" };
        //return { selector: to.hash };
        return { x: 0, y: 0 };
    }
});
...
                    </code>
                </pre>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
