{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 4</h2>
                    <pre>
                        <code>
assets/js/home.js
import Vue from "vue";
import App from "./App";

Vue.config.productionTip = false;

new Vue({
    el: "#app",
    render: h => h(App)
});
                        </code>
                    </pre>
                    <pre>
                        <code>
assets/js/App.vue
&lt;template&gt;
    &lt;div id="app"&gt;
        &lt;HelloWorld headingTag="h5"/&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import HelloWorld from './components/HelloWorld'

export default {
    name: 'App',
    components: {
        HelloWorld
    }
}
&lt;/script&gt;
                        </code>
                    </pre>
                    
                    <pre>
                    	<code>
assets/js/components/HelloWorld.vue
&lt;!--
&lt;template&gt;
    &lt;div class="hello"&gt;
        &lt;h2&gt;{ { msg } }&lt;/h2&gt;
    &lt;/div&gt;
&lt;/template&gt;
--&gt;
&lt;script&gt;
export default {
    name: 'HelloWorld',
    props: ["headingTag"],
    data () {
        return {
            msg: 'Welcome to Your Vue.js App'
        }
    },
    render: function(h) {
        return h("div", [h(this.headingTag, this.msg), h("p", this.msg)]);
    }
}
&lt;/script&gt;

<!-- Add "scoped" attribute to limit CSS to this component only -->
&lt;style scoped&gt;
&lt;/style&gt;
                    	</code>
                    </pre>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    [v-cloak] {
        display: none;
    }
</style>
{% endblock %}
{% block javascripts %}{% endblock %}
