{% extends 'base.html.twig' %}
{% block title %}Welcome Vue Advanced{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2><a href="{{ path('vue_advanced_homepage') }}">Welcome Vue Advanced</a></h2>

                    <h5>Sposoby pracy z Vue</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_advanced_example1') }}">Example 1 - Klasyczne podejście do pracy z Vue</a></li>
                        <li><a href="{{ path('vue_advanced_example2') }}">Example 2 - Bootstrap aplikacji z vue-cli</a></li>
                        <li>Example 3 - Jednoplikowe komponenty</li>
                    </ul>
                    <h5>Zaawansowane koncepcje</h5>
                    <ul class="list-unstyled">
                        <li>Example 4 - Funkcja renderująca vs. szablon</li>
                        <li>Example 5 - Komponenty funkcyjne</li>
                        <li>Example 6 - Korzystanie z mixin</li>
                    </ul>
                    <h5>Zarządzanie stanem aplikacji</h5>
                    <ul class="list-unstyled">
                        <li>Example 7 - Przepływ informacji w aplikacji</li>
                        <li>Example 8 - Globalny bus do komunikacji</li>
                        <li>Example 9 - Rozszerzanie Vue</li>
                        <li>Example 10 - Czym jest VueX?</li>
                        <li>Example 11 - Pierwsze kroki z VueX</li>
                        <li>Example 12 - Pobieranie danych</li>
                        <li>Example 13 - Gettery</li>
                        <li>Example 14 - Mutacje</li>
                        <li>Example 15 - Akcje</li>
                        <li>Example 16 - Funkcje pomocnicze</li>
                        <li>Example 17 - Lepsza organizacja kodu</li>
                        <li>Example 18 - Debugowanie VueX</li>
                    </ul>
                    <h5>Routing w aplikacji</h5>
                    <ul class="list-unstyled">
                        <li>Example 19 - Pierwsze kroki z vue-router</li>
                        <li>Example 20 - Tworzenie tabeli routingu</li>
                        <li>Example 21 - Generowanie odnośników</li>
                        <li>Example 22 - Dynamiczne parametry</li>
                        <li>Example 23 - Zagnieżdżone ścieżki</li>
                        <li>Example 24 - Nawigacja z poziomu kodu</li>
                        <li>Example 25 - Nazwane ścieżki</li>
                        <li>Example 26 - Nazwane widoki</li>
                        <li>Example 27 - Przekierowania</li>
                        <li>Example 28 - Przekierowania</li>
                        <li>Example 29 - Tryb History API</li>
                        <li>Example 30 - Tworzenie guardów</li>
                        <li>Example 31 - Animacje</li>
                        <li>Example 32 - Dynamiczne wczytywanie modułów</li>
                        <li>Example 33 - Ustawienia pozycji suwaka</li>
                    </ul>
                    <h5>Praca z danymi z serwera</h5>
                    <ul class="list-unstyled">
                        <li>Example 34 - Pierwsze kroki z axios</li>
                        <li>Example 35 - Pobieranie i wysyłanie danych</li>
                        <li>Example 36 - Integracja axios z Vue</li>
                    </ul>
                    <h5>Praktyczny projekt 1 - Konfigurator produktu</h5>
                    <ul class="list-unstyled">
                        <li>Example 37 - Założenia wstępne projektu pierwszego</li>
                        <li>Example 38 - Pobieranie danych do VueX</li>
                        <li>Example 39 - Generowanie widoku konfiguratora</li>
                        <li>Example 40 - Dodanie logiki konfiguratora</li>
                    </ul>
                    <h5>Praktyczny projekt 2 - Quiz</h5>
                    <ul class="list-unstyled">
                        <li>Example 41 - Założenia wstępne projektu drugiego</li>
                        <li>Example 42 - Pobranie danych do VueX</li>
                        <li>Example 43 - Generowanie widoku quizu</li>
                        <li>Example 44 - Dodanie logiki quizu</li>
                        <li>Example 45 - Obsługa routingu</li>
                        <li>Example 46 - Wyświetlanie podsumowania</li>
                    </ul>
                    <h5>Walidacja formularzy</h5>
                    <ul class="list-unstyled">
                        <li>Example 47 - Pierwsze kroki z vuelidate</li>
                        <li>Example 48 - Definiowanie reguł walidacji</li>
                        <li>Example 49 - Wyświetlanie błędów</li>
                        <li>Example 50 - Sprawdzanie poprawności haseł</li>
                        <li>Example 51 - Asynchroniczna walidacja</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}