{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 7</h2>
                    <div id="app">
                        <h4 v-text="fullName"></h4>
<pre>
<code>obj.firstName</code>
<code>obj.lastName</code>
<code>obj.fullName</code>
<code>obj.fullName = "Mariusz"</code>
</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        new Vue({
            el: "#app",
            data: {
                firstName: "Jan",
                lastName: "Kowalski"
            },
            computed: {
                fullName: function() {
                    return this.firstName + " " + this.lastName;

                }
            }
        });

        var obj = {
            firstName: "Jaś",
            lastName: "Nowak",
            get fullName() {
                return this.firstName + " " + this.lastName;

            },
            set fullName(value) {
                var parts = value.split(" ");
                this.firstName = parts[0];
                this.lastName = parts[1];
                console.log("Re-renderuję widok");
            }
        };
    </script>
{% endblock %}