{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 28</h2>

                    <div id="app">
                        <h4>Wyszukiwarka</h4>
                        <form action="#">
                            <div class="form-group row">
                                <div class="col-2">
                                    <label class="form-label">Kurs:</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Czego się dziś nauczysz?" v-model="search">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        new Vue({
            el: "#app",
            data: {
                search: ""
            },
            watch: {
                search: function(newValue, oldValue) {
                    this.queryServer(newValue);
                }
            },
            methods: {
                queryServer: _.debounce(function(value) {
                    console.log("http://server.com?search=" + encodeURIComponent(value));
                }, 500)
            }
        });
    </script>
{% endblock %}