{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 16</h2>

                    <div id="app">
                    	<div class="row">
                    		<div class="col-12" :style="{overflow: ['hidden']}">
		                    	<img class="img-fluid" src="https://code.eduweb.pl/kurs-vue/media/picture.jpg" 
		                    	@wheel.prevent="zoom" :style="imgStyle" />
                    		</div>
                    	</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        new Vue({
            el: "#app",
            data: {
            	level: 1
            },
            computed: {
            	imgStyle: function() {
            		return {
            			transform: `scale(${this.level})`
            		}
            	}
            },
            methods: {
            	zoom: function(e) {
            		if(e.deltaY > 0) {
            			this.level +=0.1;
            		} else {
            			if(this.level > 1) {
            				this.level -=0.1;
            			}
            		}
            	}
            }
        });
    </script>
{% endblock %}