{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 53</h2>

                    <div id="app"></div>
                    <pre>
                        <code>
    ➜  home git:(master) ✗ yarn add sass-loader node-sass --dev
                        </code>
                    </pre>
                    <pre>
                        <code>
    &lt;style lang="scss" scoped&gt;
    .btn {
        &-counter {
            font-size: 24px;
            padding: 0.375rem 30px;
        }
    }
    &lt;/style&gt;
                        </code>
                    </pre>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}