{% extends 'base.html.twig' %}
{% block title %}Welcome Vue Basic{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <div id="app"></div>
                    <h2><a href="{{ path('vue_basic_homepage') }}">Welcome Vue Basic</a></h2>

                    <h5>Pierwsze kroki z Vue</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example1') }}">Example 1</a></li>
                        <li><a href="{{ path('vue_basic_example2') }}">Example 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}