<div class="mt-3">
    <ul class="list-unstyled">
        <li><span class="badge badge-primary badge-pill mr-1">01</span><a href="{{ path('episode1_basic_data_binding') }}">Basic Data Binding</a> 
            <a class="badge badge-primary" target="_blank" href="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/1">Laracasts</a></li>
        <li><span class="badge badge-primary badge-pill mr-1">02</span><a href="{{ path('episode2_setup_vue_devtools') }}">Setup Vue Devtools</a> 
            <a class="badge badge-primary" target="_blank" href="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/2">Laracasts</a></li>
        <li><span class="badge badge-primary badge-pill mr-1">03</span><a href="{{ path('episode3_lists') }}">Lists</a> 
            <a class="badge badge-primary" target="_blank" href="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/3">Laracasts</a></li>
        <li><span class="badge badge-primary badge-pill mr-1">04</span><a href="{{ path('episode4_vue_event_listeners') }}">Vue Event Listeners</a>
            <a class="badge badge-primary" target="_blank" href="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/4">Laracasts</a></li>
        <li><span class="badge badge-primary badge-pill mr-1">05</span>Attribute and Class Binding</li>
        <li><span class="badge badge-primary badge-pill mr-1">06</span>The Need for Computed Properties</li>
        <li><span class="badge badge-primary badge-pill mr-1">07</span>Components 101</li>
    </ul>
</div>