{% extends 'base.html.twig' %}
{% block title %}About me{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>About me</h2>
                </div>
                
                <h3>Dane osobowe</h3>
                <ul class="list-unstyled">
                    <li><strong>Imię i Nazwisko:</strong> Szymon Idczak</li>
                    <li><strong>Data urodzenia:</strong> 28.12.1982</li>
                    <li><strong>Miejsce urodzenia:</strong> Bydgoszcz</li>
                    <li><strong>Adres zameldowania:</strong> 86-150 Osie, ul. Andrykowskiego 4</li>
                    <li><strong>Adres zamieszkania:</strong> 81-548 Gdynia, ul. Oficerska 5</li>
                    <li><strong>E-mail:</strong> szymon.idczak@gmail.com</li>
                    <li><strong>Telefon komórkowy:</strong> +48 500 464 679</li>
                </ul>
                
                <h3>Wykształcenie</h3>
                <ul class="list-unstyled">
                    <li><strong>2007-2009</strong> magisterskie studia uzupełniające na Wydziale Fizyki Technicznej, Informatyki i Matematyki Stosowanej Politechniki Łódzkiej,<br/>
                        <strong>kierunek:</strong> informatyka, <strong>specjalność:</strong> Systemy Informatyczne w Zarządzaniu i Handlu Elektronicznym, <strong>ukończone z tytułem:</strong> magister</li>
                    <li><strong>2003-2007</strong> niestacjonarne studia inżynierskie na Wydziale Matematyki Techniki i Nauk Przyrodniczych Uniwersytetu Kazimierza Wielkiego w Bydgoszczy,<br/>
                        <strong>kierunek:</strong> informatyka, <strong>specjalność:</strong> informatyka ogólna, <strong>ukończone z tytułem:</strong> inżynier</li>
                    <li><strong>2001-2003</strong> uczęszczałem do Pomorskiej Szkoły Komputerowej w Bydgoszczy,<br/>
                        <strong>kierunek:</strong> informatyka, <strong>specjalność:</strong> grafika komputerowa, <strong>ukończone z tytułem:</strong> technik informatyk</li>
                    <li><strong>1997-2001</strong> uczęszczałem do Liceum Ogólnokształcącego im. Wincentego Pola w Czersku.</li>
                </ul>
                
                <h3>Doświadczenie zawodowe</h3>
                <ul class="list-unstyled">
                    <li>
                        <strong>05.2016</strong> ClickMeeting
                        <br/>
                        <strong>Stanowisko:</strong> Front-end developer
                        <br/>
                        <strong>Szkolenia:</strong>
                        <ul>
                            <li>vue</li>
                            <li>es6</li>
                        </ul>
                    </li>
                    <li>
                        <strong>02.2011 - 04.2016</strong> Telekom Media S.A. Projektowanie i implementacja interfejsów gier sieciowych typu MMOG
                        <br/>
                        <strong>Stanowisko:</strong> Webmaster
                        <br/>
                        <strong>Szkolenia:</strong>
                        <ul>
                            <li>biblioteka programistyczna jQuery</li>
                        </ul>
                    </li>
                    <li>                    
                        <strong>01.2010 - 06.2010</strong> SESCOM S.A. Rozbudowa platformy informatycznej dla zintegrowanego zarządzania usługami technicznej obsługi obiektów SES Support.
                        <br/>
                        <strong>Stanowisko:</strong> Programista PHP
                        <br/>
                        <strong>Szkolenia:</strong>
                        <ul>
                            <li>Framework SYMFONY, ORM (Propel, Doctrine)</li>
                            <li>metodyki testowania systemów informatycznych,</li>
                            <li>tworzenie bezpiecznych aplikacji internetowych,</li>
                            <li>modelowanie procesów biznesowych,</li>
                            <li>SOA.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>08.2009 - 10.2009</strong> Gratka Technologie Sp. z o.o. – praktyki. Tworzenie systemu rekrutacji.
                        <br/>
                        <strong>Stanowisko:</strong> Programista PHP
                        <br/>
                        <strong>Szkolenia:</strong>
                        <ul>
                            <li>Framework OSNOWA, system szablonów GRACE,</li>
                            <li>wzorce projektowe,</li>
                            <li>UML – budowanie modelu systemu rekrutacji,</li>
                            <li>Scrum,</li>
                            <li>Redmine,</li>
                            <li>SVN.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>10.2006 - 04.2009</strong> CHIMEX S.A. Dział Celulozowo-Papierniczy – firma prowadząca działalność handlową, usługową oraz doradztwo techniczne.
                        <br/>
                        <strong>Stanowisko:</strong> Serwisant urządzeń - Mondi Packaging Paper Świecie, Polpak papier Grudziądz.
                    </li>
                </ul>
                
                <h3>Umiejętności</h3>
                <ul>
                    <li>Obsługa komputera w zakresie: Adobe Photoshop, Microsoft Office, Microsoft Visio, Enterprise Architect.</li>
                    <li>Znajomość języków: (X)HTML, XML, CSS, jQuery (AJAX) oraz dobra znajomość PHP5.</li>
                    <li>Znajomość zagadnień związanych z relacyjnymi bazami danych, umiejętność programowania w MySQL oraz ORM Doctrine.</li>
                    <li>Znajomość systemów CMS oraz framework-a SYMFONY.</li>
                    <li>Bardzo dobra znajomość systemów operacyjnych: Windows 7, Linux Ubuntu.</li>
                    <li>Bardzo dobra znajomość środowisk programistycznych: Eclipse, NetBeans.</li>
                    <li>Bardzo dobra znajomość systemów kontroli wersji: GIT, SVN.</li>
                    <li>Wiedza z zakresu inżynierii oprogramowania.</li>
                    <li>Znajomość zagadnień i podstaw funkcjonowania sieci komputerowych.</li>
                    <li>Prawo jazdy kat. A, B</li>
                    <li class="text-danger">Patent jachtowego sternika morskiego</li>
                    <li class="text-danger">Patent nurka - PADI</li>
                </ul>
                
                <h3>Znajomość języków obcych</h3>
                <ul>
                    <li>Język angielski - <span class="text-danger">certyfikat CPE</span></li>
                    <li>Język rosyjski na poziomie średnio zaawansowanym.</li>
                </ul>
                
                <h3>Zainteresowania</h3>
                <ul>
                    <li>Technologie Web – programowanie aplikacji internetowych. Stworzyłem dwa tutorial-e wykorzystując framework Symfony oraz framework Bootstrap:
                        <ul>
                            <li>https://github.com/sidczak-tti/blog</li>
                            <li>https://github.com/sidczak-tti/shop</li>
                            <li>https://github.com/sidczak-tti/development – zbiór różnych modułów i bibliotek, które często wykorzystuję w projektach</li>
                        </ul>
                    </li>
                    <li>Wspinaczka, bieganie, kolarstwo, pływanie.</li>
                    <li class="text-danger">Jazda na nartach</li>
                    <li class="text-danger">Jazda konna</li>
                </ul>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
