{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Start</h2>
                </div>
                <p>{{ 'title.homepage'|trans|raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Bootstrap</h4>
                <ul>
                    <li>Layout - Grid System</li>
                    <li>Content - Typography</li>
                    <li>Content - Lists</li>
                    <li>Content - Fonts</li>
                    <li>Components - Modal</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Tutorials</h4>
                <ul>
                    <li>Blog</li>
                    <li>Shop</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Blog</h4>
                <h4>Code</h4>
                <h4>Examples</h4>
                <h4>Features</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
