{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>xStart</h2>
                </div>
                <p>{{ 'title.homepage'|trans|raw }}</p>
                
                <h3>Layout - Grid System</h3>
                <h3>Content - Typography</h3>
                <h3>Content - Lists</h3>
                <h3>Content - Fonts</h3>
                <h3>Components - Modal</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
