{% extends 'base.html.twig' %}
{% block title %}React{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>React</h2>
                    <div id="app" data-welcome="{{ title }}"></div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}
    {{ include('BootstrapBundle:React:_reactScript.html.twig') }}
    <script type="text/babel" src="{{ asset('js/react/quick-start.react.js') }}"></script>
{% endblock %}
